html
	head

		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css")

	body
		.container(style={background: '#ECEFF1', width:'100%'} )
			nav.navbar.navbar-inverse.navbar-embossed
				.container-fluid
					.navbar-header
						a.navbar-brand(href="#") PlayBetcris
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/auth/facebook") Iniciar sesión con Facebook


		.container(style={background: '#ECEFF1', width:'100%'} )

			section

			.row

					.col-xs-3.text-center

						img(src="http://www.mastermagazine.info/termino/wp-content/uploads/Usuario-Icono.jpg" height="200")
						h4 Usuario

					.col-xs-3.text-center

						img(src="http://www.mastermagazine.info/termino/wp-content/uploads/Usuario-Icono.jpg" height="200")
						h4 Usuario

					.col-xs-3.text-center

						img(src="http://www.mastermagazine.info/termino/wp-content/uploads/Usuario-Icono.jpg" height="200")
						h4 Usuario

					.col-xs-3.text-center

						img(src="http://www.mastermagazine.info/termino/wp-content/uploads/Usuario-Icono.jpg" height="200")
						h4 Usuario






			